@-webkit-keyframes glowing {
  /* line 10, ../scss/partials/_glow.scss */
  from {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 14, ../scss/partials/_glow.scss */
  50% {
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 18, ../scss/partials/_glow.scss */
  to {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 10, ../scss/partials/_glow.scss */
  from {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 14, ../scss/partials/_glow.scss */
  50% {
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 18, ../scss/partials/_glow.scss */
  to {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 10, ../scss/partials/_glow.scss */
  from {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 14, ../scss/partials/_glow.scss */
  50% {
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 18, ../scss/partials/_glow.scss */
  to {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 10, ../scss/partials/_glow.scss */
  from {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 14, ../scss/partials/_glow.scss */
  50% {
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 18, ../scss/partials/_glow.scss */
  to {
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3) 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

/* line 23, ../scss/partials/_buttons.scss */
.button {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 42, ../scss/partials/_buttons.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-linear-gradient(top, white, gainsboro);
  background: linear-gradient(to bottom, white, gainsboro);
}
/* line 46, ../scss/partials/_buttons.scss */
.button:active {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 52, ../scss/partials/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 58, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block;
}

/* line 74, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none;
}

/* line 86, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  border-radius: 200px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 96, ../scss/partials/_buttons.scss */
.button-flat {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 104, ../scss/partials/_buttons.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 107, ../scss/partials/_buttons.scss */
.button-flat:active {
  -webkit-transition: background, 0;
  -moz-transition: background, 0;
  transition: background, 0;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 112, ../scss/partials/_buttons.scss */
.button-flat.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 122, ../scss/partials/_buttons.scss */
.button-border {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none;
}
/* line 130, ../scss/partials/_buttons.scss */
.button-border:hover {
  background: none;
  color: gray;
  border: 2px solid gray;
}
/* line 135, ../scss/partials/_buttons.scss */
.button-border:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
}
/* line 141, ../scss/partials/_buttons.scss */
.button-border.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 151, ../scss/partials/_buttons.scss */
.button-3d {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: linear-gradient(to bottom, #f3f3f3, #e9e9e9);
  background-color: #eeeeee;
  color: #666666;
  border: 1px solid #e1e1e1;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 162, ../scss/partials/_buttons.scss */
.button-3d:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(top, white, #ebebeb);
  background: linear-gradient(to bottom, white, #ebebeb);
  background-color: white;
}
/* line 167, ../scss/partials/_buttons.scss */
.button-3d:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(top, #e9e9e9, #f3f3f3);
  background: linear-gradient(to bottom, #e9e9e9, #f3f3f3);
  background-color: #eeeeee;
  color: #bbbbbb;
  border: 1px solid #e1e1e1;
  top: 5px;
}
/* line 175, ../scss/partials/_buttons.scss */
.button-3d.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-rounded {
  border-radius: 3px;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-pill {
  border-radius: 50px;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-circle {
  border-radius: 240px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5) 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 19px;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(to bottom, #00b5e5, #008db2);
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(to bottom, #00c9fe, #008db2);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-primary:active {
  background: #1495b7;
  color: #005065;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-primary {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #007998, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #00a9d5, #0099c1);
  background: linear-gradient(to bottom, #00a9d5, #0099c1);
  background-color: #00a1cb;
  color: white;
  border: 1px solid #007998;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-primary:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #00708e, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #00c1f4, #009dc6);
  background: linear-gradient(to bottom, #00c1f4, #009dc6);
  background-color: #00c9fe;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-primary:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #007998, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #0099c1, #00a9d5);
  background: linear-gradient(to bottom, #0099c1, #00a9d5);
  background-color: #1495b7;
  color: #005065;
  border: 1px solid #008db2;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-primary {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #00a1cb;
  border: 2px solid #00a1cb;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-primary:hover {
  background: none;
  color: #00c9fe;
  border: 2px solid #00c9fe;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-primary:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #007998;
  border: 2px solid #007998;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-primary {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-primary:hover {
  background: #00b5e5;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: #1495b7;
  color: #00647f;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-primary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-secondary {
  background: -webkit-linear-gradient(top, white, #f2f2f2);
  background: linear-gradient(to bottom, white, #f2f2f2);
  background-color: white;
  border-color: #e6e6e6;
  color: white;
  text-shadow: 0 -1px 1px rgba(179, 179, 179, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-secondary:hover {
  background-color: white;
  background: -webkit-linear-gradient(top, white, #f2f2f2);
  background: linear-gradient(to bottom, white, #f2f2f2);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-secondary:active {
  background: white;
  color: #cccccc;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-secondary {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e6e6e6, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, white, #fafafa);
  background: linear-gradient(to bottom, white, #fafafa);
  background-color: white;
  color: white;
  border: 1px solid #e6e6e6;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-secondary:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #e0e0e0, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, white, #fcfcfc);
  background: linear-gradient(to bottom, white, #fcfcfc);
  background-color: white;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-secondary:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #e6e6e6, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fafafa, white);
  background: linear-gradient(to bottom, #fafafa, white);
  background-color: white;
  color: #cccccc;
  border: 1px solid #f2f2f2;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-secondary {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: white;
  border: 2px solid white;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-secondary:hover {
  background: none;
  color: white;
  border: 2px solid white;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-secondary:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #e6e6e6;
  border: 2px solid #e6e6e6;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-secondary {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: white;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-secondary:hover {
  background: white;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-secondary:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: white;
  color: #d9d9d9;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-secondary.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-action {
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(to bottom, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-action:hover {
  background-color: #7db500;
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(to bottom, #a0e800, #6b9c00);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-action:active {
  background: #76a312;
  color: #374f00;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-action {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #5a8200, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #84bf00, #76ab00);
  background: linear-gradient(to bottom, #84bf00, #76ab00);
  background-color: #7db500;
  color: white;
  border: 1px solid #5a8200;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-action:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #537800, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #99de00, #79b000);
  background: linear-gradient(to bottom, #99de00, #79b000);
  background-color: #a0e800;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-action:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #5a8200, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #76ab00, #84bf00);
  background: linear-gradient(to bottom, #76ab00, #84bf00);
  background-color: #76a312;
  color: #374f00;
  border: 1px solid #6b9c00;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-action.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-action {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #7db500;
  border: 2px solid #7db500;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-action:hover {
  background: none;
  color: #a0e800;
  border: 2px solid #a0e800;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-action:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #5a8200;
  border: 2px solid #5a8200;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-action.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-action {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #7db500;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-action:hover {
  background: #8fcf00;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-action:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: #76a312;
  color: #486900;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-action.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(to bottom, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-highlight:hover {
  background-color: #f18d05;
  background: -webkit-linear-gradient(top, #fba42e, #d87e04);
  background: linear-gradient(to bottom, #fba42e, #d87e04);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-highlight {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bf7004, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fa9306, #e78705);
  background: linear-gradient(to bottom, #fa9306, #e78705);
  background-color: #f18d05;
  color: white;
  border: 1px solid #bf7004;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-highlight:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b56a04, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #faa024, #ec8a05);
  background: linear-gradient(to bottom, #faa024, #ec8a05);
  background-color: #fba42e;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-highlight:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bf7004, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #e78705, #fa9306);
  background: linear-gradient(to bottom, #e78705, #fa9306);
  background-color: #d8891e;
  color: #8d5303;
  border: 1px solid #d87e04;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-highlight.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-highlight {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #f18d05;
  border: 2px solid #f18d05;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-highlight:hover {
  background: none;
  color: #fba42e;
  border: 2px solid #fba42e;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-highlight:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #bf7004;
  border: 2px solid #bf7004;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-highlight.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-highlight:hover {
  background: #fa9915;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: #d8891e;
  color: #a66103;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-highlight.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-caution {
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(to bottom, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-caution:hover {
  background-color: #e54028;
  background: -webkit-linear-gradient(top, #eb6855, #d9331a);
  background: linear-gradient(to bottom, #eb6855, #d9331a);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-caution:active {
  background: #cd5240;
  color: #952312;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-caution {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #c22d18, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #e64831, #e4381f);
  background: linear-gradient(to bottom, #e64831, #e4381f);
  background-color: #e54028;
  color: white;
  border: 1px solid #c22d18;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-caution:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b92b16, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #e9604c, #e43c23);
  background: linear-gradient(to bottom, #e9604c, #e43c23);
  background-color: #eb6855;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-caution:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #c22d18, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #e4381f, #e64831);
  background: linear-gradient(to bottom, #e4381f, #e64831);
  background-color: #cd5240;
  color: #952312;
  border: 1px solid #d9331a;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-caution.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-caution {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #e54028;
  border: 2px solid #e54028;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-caution:hover {
  background: none;
  color: #eb6855;
  border: 2px solid #eb6855;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-caution:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #c22d18;
  border: 2px solid #c22d18;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-caution.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-caution {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-caution:hover {
  background: #e8543f;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-caution:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: #cd5240;
  color: #ac2815;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-caution.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 223, ../scss/partials/_buttons.scss */
.button-royal {
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(to bottom, #99389f, #752a79);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35);
}
/* line 230, ../scss/partials/_buttons.scss */
.button-royal:hover {
  background-color: #87318c;
  background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
  background: linear-gradient(to bottom, #ab3eb2, #752a79);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-royal:active {
  background: #764479;
  color: #3e1740;
}

/* line 247, ../scss/partials/_buttons.scss */
.button-3d-royal {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #632466, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #8e3494, #802e84);
  background: linear-gradient(to bottom, #8e3494, #802e84);
  background-color: #87318c;
  color: white;
  border: 1px solid #632466;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 258, ../scss/partials/_buttons.scss */
.button-3d-royal:hover {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #5b215f, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #a43caa, #833088);
  background: linear-gradient(to bottom, #a43caa, #833088);
  background-color: #ab3eb2;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-royal:active {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #632466, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #802e84, #8e3494);
  background: linear-gradient(to bottom, #802e84, #8e3494);
  background-color: #764479;
  color: #3e1740;
  border: 1px solid #752a79;
  top: 5px;
}
/* line 271, ../scss/partials/_buttons.scss */
.button-3d-royal.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 285, ../scss/partials/_buttons.scss */
.button-border-royal {
  box-shadow: none;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #87318c;
  border: 2px solid #87318c;
  background: none;
  text-shadow: none;
}
/* line 293, ../scss/partials/_buttons.scss */
.button-border-royal:hover {
  background: none;
  color: #ab3eb2;
  border: 2px solid #ab3eb2;
}
/* line 298, ../scss/partials/_buttons.scss */
.button-border-royal:active {
  -webkit-transition: all, 0s;
  -moz-transition: all, 0s;
  transition: all, 0s;
  background: none;
  color: #632466;
  border: 2px solid #632466;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-royal.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 316, ../scss/partials/_buttons.scss */
.button-flat-royal {
  box-shadow: none;
  -webkit-transition: background, 0.3s;
  -moz-transition: background, 0.3s;
  transition: background, 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 324, ../scss/partials/_buttons.scss */
.button-flat-royal:hover {
  background: #99389f;
}
/* line 327, ../scss/partials/_buttons.scss */
.button-flat-royal:active {
  -webkit-transition: background, 0s;
  -moz-transition: background, 0s;
  transition: background, 0s;
  background: #764479;
  color: #501d53;
}
/* line 332, ../scss/partials/_buttons.scss */
.button-flat-royal.disabled {
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 352, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 24px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px;
}

/* line 352, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 383, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px;
}

/* line 352, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 15px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 383, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

/* line 352, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 383, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px;
}

/* line 404, ../scss/partials/_buttons.scss */
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
}
/* line 407, ../scss/partials/_buttons.scss */
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

/* line 419, ../scss/partials/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;
}
/* line 426, ../scss/partials/_buttons.scss */
.button-dropdown .button .icon-caret-down {
  font-size: 90%;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
}
/* line 433, ../scss/partials/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-below {
  top: 115%;
}
/* line 436, ../scss/partials/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-above {
  bottom: 115%;
  top: auto;
}
/* line 442, ../scss/partials/_buttons.scss */
.button-dropdown ul {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fcfcfc;
  top: -2px;
  left: -2px;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  min-width: 102%;
}
/* line 456, ../scss/partials/_buttons.scss */
.button-dropdown ul li {
  padding: 0px;
  margin: 0px;
  display: block;
}
/* line 461, ../scss/partials/_buttons.scss */
.button-dropdown ul li:first-child a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 465, ../scss/partials/_buttons.scss */
.button-dropdown ul li:last-child a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 472, ../scss/partials/_buttons.scss */
.button-dropdown ul .button-dropdown-divider {
  box-shadow: inset 0px 1px 0px #FFF;
  border-top: 1px solid #e4e4e4;
}
/* line 477, ../scss/partials/_buttons.scss */
.button-dropdown ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  white-space: nowrap;
}
/* line 486, ../scss/partials/_buttons.scss */
.button-dropdown ul a:hover {
  background-color: #3c6ab9;
  color: white;
}
